<div class="content-card">

    <div class="col centered-title" *ngIf="loading">
        <h1>Editar usuário</h1>
        <div class="row justify-content-center">
            <div class="loader"></div>
        </div>
    </div>

    <div class="container-fluid" *ngIf="!loading">
        <div class="row">
            <div class="col centered-title">
                <h1>Editar usuário</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label>Nome:<span style="color:red;">*</span></label>
                                <input type="text" name="name" class="form-control" placeholder="Nome do usuário"
                                    [(ngModel)]="user.name" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>CPF:<span style="color:red;">*</span></label>
                                <input type="text" name="cpf" class="form-control" placeholder="CPF do usuário"
                                    [(ngModel)]="user.cpf" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data de nascimento:<span style="color:red;">*</span></label>
                                <ng-datepicker [options]="datePickerOptions" [(ngModel)]="user.born" name="born"></ng-datepicker>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Sexo:</label>
                                <select name="sex" class="form-control" [(ngModel)]="user.sex">
                                    <option value="0">Selecione o sexo</option>
                                    <option value="1">Masculino</option>
                                    <option value="2">Feminino</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Telefone:</label>
                                <input type="text" name="phone" class="form-control" placeholder="Telefone"
                                    [(ngModel)]="user.phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Cargo:<span style="color:red;">*</span></label>
                                <select name="role" [(ngModel)]="user.role" class="form-control">
                                    <option value="" selected="selected">Selecione o cargo</option>
                                    <option [ngValue]="role._id" *ngFor="let role of roles">{{ role.name }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Departamento:<span style="color:red;">*</span></label>
                                <select name="department" [(ngModel)]="user.department" class="form-control">
                                    <option value="" selected="selected">Selecione o departamento</option>
                                    <option value="{{ dp._id }}" *ngFor="let dp of departments">{{ dp.name }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>E-mail:<span style="color:red;">*</span></label>
                                <input type="email" name="email" class="form-control" placeholder="E-mail do usuário"
                                    [(ngModel)]="user.username" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Senha:<span style="color:red;">*</span></label>
                                <input type="password" name="password" class="form-control"
                                    placeholder="Senha do usuário" [(ngModel)]="user.password" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Foto de perfil</label><br>
                                <input type="file" name="picture" [(ngModel)]="user.picture" class="form-control">
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <small>Campos com (<span style="color:red;">*</span>) são obrigatórios</small>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-warning" type="button" (click)="cancel()">
                                <i class="fa fa-close"></i> Cancelar
                            </button>
                            <button class="btn btn-success ml-3" type="button" (click)="edit()">
                                <i class="fa fa-check"></i> Editar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>