@import '../../../styles.scss';

.certificate-margin {
    margin: 15px !important;
}

.certificateTemplate {
  position: fixed;
  left: 9999px;
  width: 500px;
  height: 500px;
  padding: 20px;
  box-sizing: border-box;

  .certificate__content {
    text-align: center;
    display: block;
    border: 2px solid $color-secondary;
    height: 100%;
    width: 100%;
    padding: 20px;

    p {
      display: block;
    }

    figure{
      width: 100px;
      margin: 100px auto 0 auto;
      align-content: center;
      padding: 30px;
      background-color: #845586;

      img {
        width: 100%;
      }
    }
  }
}

.certificate {
    max-width: 440px;
    width: 100%;
    border: 1px solid #ddd;
    box-shadow: 1px 2px 4px rgba($color-dark, .4);
    border-radius: 5px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;

    @media screen and (min-width: $md-width) {
      flex-direction: row;
    }

    &-image {
      min-width: 150px;
      max-width: 100%;
      padding: 10px;

      img {
        width: 100%;
      }
    }

    &-content {
      width: 100%;
      padding: 10px;
      text-align: center;

      @media screen and (min-width: $md-width) {
        text-align: left;
      }

      &-title {
        min-height: 90px;
      }
    }
}
