// SASS Variables

$color-primary: #512e53;
$color-secondary: #764278;
$color-terciary: #845586;
$color-danger: #4fd6bb;
$color-light: #ffffff;
$color-dark: #222;
$color-red: #D72C2C;
$color-yellow: rgb(220, 200, 20);
$color-green: #28a745;
$background-color: #eeeeef;
$background-color-review-list: #4ad0b2;
$background-color-review-lead: #672d5a;

$text-color: #464646;



// overwrite bootstrap colors
$cyan: #17a2b8 !default;
$theme-colors: (
    primary: $color-primary,
    success: $color-green,
    info: $cyan,
    warning: $color-yellow,
    danger: $color-red,
  ) !default;
