@import '../../../styles';

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDD;
    background-position: 0px 0px, 70% 60%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1030;
    height: 100%;
    width:  100%;
    overflow: hidden;
    @include xs{
        background-color: $color-primary;
    }

    @include lg{
        background-image: url("../../../assets/images/background-login.jpg");
        background-size: 100%;
        background-position: center;
    }
    
    @include xl{
        background-image: url("../../../assets/images/background-login.jpg");
        background-size: 100%;
        background-position: center;
    }
}
.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;   
    flex-direction: column;
    z-index: 5;
    width: 42%;
    @include xs{
        width: 100%;
        height: 100%;
    }
    @include sm{
        width: 100%;
        height: 100%;
    }
    @include md{
        width: 60%;
        margin-bottom: 20%;
    }
    @include xl{
        width: 28%;
        height: 60%;
    }
}
.img-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 24%;
    .w{
        width: 82px;
        height: auto;
    }
    .h{
        width: 176px;
        height: auto;
    }
}
.box {
    width: 100%;
    z-index: 5;
    padding: 30px 60px;
    @include xs {
        width: 100%;
        height: 100%;
        padding: 30px 30px;
        border-radius: 0;
        background-color: $color-primary;
        box-shadow: 0 0 32px -8px inset;
    }
    @include md{
        padding: 50px 60px 80px;
    }
    @include lg{
        padding: 70px 80px;
    }
    @include xl{
        padding: 70px 50px 50px
    }
}
.logo {
    width: 80%;
    margin: 0 auto;    
    padding: 20px;
    margin-right: 5%;
    @include xl{
        width: 120%;
    }
}

.forgot-password{
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    padding-top: 3px;
    a{
        color: #59af91;
    }
}

.copyright{
    color: white;
    font-size: 14px;
}


.btn-full{
    box-shadow: 1px 1px 3px 0 #384247;
    background-color: #42b39c;
    color: $color-light;
    font-weight: bold;
    &:hover{
        background-color: #24c1a6;
        border-color: transparent;
        transition: all .2s ease;
        box-shadow: 0 0 32px -8px;
    }
}

// @import '../../../styles';

// #page-login-index {
//     background: url('../../../assets//images/background-login.jpg') center no-repeat;
//     background-size: cover;
//     position: relative;
// }

// //Content
// .rommanel-login {
//     left: 50%;
//     position: absolute;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 400px;

//     @media(max-width: $md-width){
//         width: 90%;
//     }
// }

// // Logo
// .rommanel-login-logo {
//     background-image: url('../../../assets/images/logo-rommanel.png');
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: 50%;
//     display: block;
//     height: 130px;
//     width: 100%;
// }

// // Block
// .rommanel-login-block {
//     background: #fff;
//     border-radius: 15px;
//     box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.14);
//     padding: 40px 20px;
// }

// // Button
// .btn-login {
//     background: $color-primary;
//     border: 1px solid $color-primary;
//     border-radius: 30px;
//     color: #fff;
//     cursor: pointer;
//     display: block;
//     font: 13px 'Open Sans Bold';
//     letter-spacing: 1px;
//     margin-top: 20px;
//     padding: 15px;
//     text-transform: uppercase;
//     transition: all 400ms;
//     width: 100%;

//     &:hover {
//         background: transparent;
//         color: $color-primary;
//     }

//     &:focus {
//         outline: none;
//     }
// }

// .btn-login-api {
//     background: transparent;
//     border: 1px solid $color-primary;
//     border-radius: 30px;
//     color: $color-primary;
//     cursor: pointer;
//     display: block;
//     font: 13px 'Open Sans Bold';
//     letter-spacing: 1px;
//     margin-top: 20px;
//     padding: 15px;
//     text-align: center;
//     text-transform: uppercase;
//     transition: all 400ms;
//     width: 100%;

//     &:hover {
//         background: $color-primary;
//         color: #fff;
//     }

//     &:focus {
//         outline: none;
//     }
// }

// // Input, Label
// .login-form-group {
//     margin-bottom: 30px;
//     text-align: center;

//     label {
//         color: $color-primary;
//         display: block;
//         font: 13px 'Open Sans Bold';
//         letter-spacing: 1px;
//         margin-bottom: 5px;
//         text-transform: uppercase;
//     }

//     .form-control {
//         border-color: $color-primary;
//         border-radius: 30px;
//         color: $color-primary;
//         padding: 10px;
//         text-align: center;

//         &:focus {
//             box-shadow: none;
//             outline: none;
//         }

//         &::-webkit-input-placeholder {
//             color: $color-primary;
//             opacity: .7;
//         }
//         &::-moz-placeholder {
//             color: $color-primary;
//             opacity: .7;
//         }
//         &:-ms-input-placeholder {
//             color: $color-primary;
//             opacity: .7;
//         }
//         &:-moz-placeholder {
//             color: $color-primary;
//             opacity: .7;
//         }
//     }
// }

// // Checkbox
// .rommanel-login-checkbox {
//     margin: 0;

//     // Radio Button
//     [type="checkbox"]:not(:checked),
//     [type="checkbox"]:checked {
//         left: -9999px;
//         position: absolute;
//     }

//     [type="checkbox"]:not(:checked) + label,
//     [type="checkbox"]:checked + label {
//         color: $color-primary;
//         cursor: pointer;
//         font: 13px "Open Sans";
//         letter-spacing: 1px;
//         padding-left: 25px;
//         padding-top: 2px;
//         position: relative;
//         text-transform: uppercase;
//     }

//     [type="checkbox"]:not(:checked) + label:before,
//     [type="checkbox"]:checked + label:before {
//         background: transparent;
//         border: 2px solid $color-primary;
//         content: '';
//         height: 18px;
//         left: 0;
//         position: absolute;
//         top: 2px;
//         transition: border-color 0.5s ease;
//         vertical-align: middle;
//         width: 18px;
//     }

//     [type="checkbox"]:checked + label:before {
//         background: $color-primary;
//     }

//     // checked
//     [type="checkbox"]:not(:checked) + label:after,
//     [type="checkbox"]:checked + label:after {
//         border-color: #fff;
//         border-style: solid;
//         border-width: 0 2px 2px 0;
//         content: '';
//         height: 9px;
//         left: 9px;
//         opacity: 0;
//         position: absolute;
//         top: 12px;
//         transform: translate(-50%, -65%) rotate(45deg);
//         transition: opacity 0.5s ease, visibility 0.5s ease;
//         width: 4px;
//     }

//     [type="checkbox"]:not(:checked) + label:after {
//         opacity: 0;
//     }

//     [type="checkbox"]:checked + label:after {
//         opacity: 1;
//     }

//     // disabled checkbox
//     [type="checkbox"]:disabled:not(:checked) + label:before,
//     [type="checkbox"]:disabled:checked + label:before {
//         border-color: #fff;
//         box-shadow: none;
//     }

//     [type="checkbox"]:disabled:checked + label:after {
//         color: #999;
//     }

//     // Hover Checkbox e Radiobutton
//     label:hover:before {
//         border: 2px solid $color-primary !important;
//     }
// }

// // Esqueci minha senha
// .rommanel-login-esqueci-senha{
//     border-bottom: 1px solid $color-primary;
//     color: $color-primary;
//     font-size: 11px;
//     padding-bottom: 3px;
//     text-decoration: none;
//     text-transform: uppercase;
//     transition: opacity 400ms;

//     &:hover{
//         color: $color-primary;
//         opacity: .7;
//         text-decoration: none;
//     }
// }

// // Modal de confirmação para logout
// #page-login-index{
//     .modal-content{
//         .modal-body{
//             text-align: center;
//         }
//         .buttons{
//             margin: 0 auto;
//         }
//         .btn{
//             width: 140px;
//         }
//         .btn-primary{
//             background: $color-primary;
//             border: 1px solid $color-primary;
//             border-radius: 30px;
//             color: #FFFFFF;
//             cursor: pointer;
//             display: inline-block;
//             font: 12px 'Open Sans Bold';
//             letter-spacing: 1px;
//             padding: 15px 30px;
//             text-align: center;
//             text-transform: uppercase;
//             transition: all 400ms;

//             &:hover {
//                 background: transparent;
//                 color: $color-primary;
//                 text-decoration: none;
//             }

//             &:focus {
//                 outline: none;
//             }

//             &:disabled{
//                 background: $color-primary;
//                 color: #FFFFFF;
//                 cursor: default;
//                 opacity: .6;
//             }

//             @media(max-width: $md-width){
//                 padding: 10px 20px;
//             }
//         }
//         .btn-secondary{
//             background: #999999;
//             border: 1px solid #999999;
//             border-radius: 30px;
//             color: #FFFFFF;
//             cursor: pointer;
//             display: inline-block;
//             font: 12px 'Open Sans Bold';
//             letter-spacing: 1px;
//             padding: 15px 30px;
//             text-transform: uppercase;
//             transition: all 400ms;

//             &:hover {
//                 opacity: .5;
//             }

//             &:focus {
//                 outline: none;
//             }

//             @media(max-width: $md-width){
//                 padding: 10px 20px;
//             }
//         }
//     }
// }