<div id="login">

  <div class="box-container">

      <div class="img-box">
          <img src="../../../assets/images/logo_full.png" class="logo hidden-sm-down">
          <img src="../../../assets/images/logo.png" class="hidden-sm-up w">
          <img src="../../../assets/images/logo_name.png" class="hidden-sm-up h">
      </div>

      <div class="container box">
          <form (submit)="authenticate()">

              <div class="icon-input mg-b-10">
                  <span>
                      <i class="fa fa-user" aria-hidden="true"></i>
                  </span>
                  <input type="email" [(ngModel)]="username" required class="form-control" name="Email" placeholder="E-mail">
              </div>

              <div class="icon-input mg-b-10">
                  <span>
                      <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                  <input type="password" [(ngModel)]="password" required class="form-control" name="Senha" placeholder="Senha">
              </div>
              <div class="">
                  <button class="btn btn-wcapp btn-full" type="submit">Entrar</button>
              </div>
          </form>
      </div>

      <div class="text-center copyright"> <strong>FC Training</strong> <br> 2019
      <i class="fa fa-copyright" aria-hidden="true"></i> Copyright FC Training </div>    
      
  </div>

</div>