<div class="content-card">
    
  <div class="col centered-title" *ngIf="loading">
      <h1>Usuários</h1>
      <div class="row justify-content-center">
          <div class="loader"></div>
      </div>
  </div>

  <div class="container-fluid" *ngIf="!loading">
      <div class="row">
          <div class="col centered-title">
              <h1>Usuários</h1>
          </div>
      </div>
      <hr>    

      <div class="row">
            <div class="col-md-12">
                <!-- <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Nome:</label>
                            <input type="text" name="name" class="form-control" placeholder="Nome do Usuário" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>CPF:</label>
                            <input type="text" name="name" class="form-control" placeholder="Nome do Usuário" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Perfil:</label>
                            <select class="form-control">
                                <option value="">Selecione um perfil</option>
                                <option value="user">Usuário comum</option>
                                <option value="instructor">Instrutor</option>
                                <option value="admin">Administrador</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Departamento:</label>
                            <input type="text" name="name" class="form-control" placeholder="Nome do Usuário" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Cargo:</label>
                            <input type="text" name="name" class="form-control" placeholder="Cargo do Usuário" />
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status</label>
                            <br>
                            <ui-switch color="#3cb58a" [(ngModel)]="onlyActives"></ui-switch> 
                            {{ onlyActives ? "Ativos" : "Inativos" }}
                        </div>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- <button class="btn btn-primary pull-right" type="button">
                            <i class="fa fa-search"></i> Pesquisar
                        </button> -->
                        <button class="btn btn-success pull-right" type="button" [routerLink]="['new']">
                            <i class="fa fa-plus"></i> Novo usuário
                        </button>
                    </div>            
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Listagem de usuários</h3>
                        <table class="table table-responsive table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>E-mail</th>
                                    <th>CPF</th>
                                    <th>Departamento</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let user of users">
                                    <td> {{ user.name ? user.name : '-' }} </td>
                                    <td> {{ user.username ? user.username : '-' }} </td>
                                    <td> {{ user.cpf ? user.cpf : '-' }} </td>
                                    <td> {{ user.department.name ? user.department.name : '-' }} </td>
                                    <td>
                                        <button class="btn btn-info" title="Visualizar" [routerLink]="[user._id]">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="btn btn-wcapp" title="Editar" [routerLink]="['edit', user._id]">
                                            <i class="fa fa-edit"></i>
                                        </button>
                                    </td>
                                    <td>
                                        <ui-switch color="#3cb58a" [(ngModel)]="user.isActive" (change)="changeStatus(user)"></ui-switch> 
                                        {{ user.isActive ? "Ativo" : "Inativo" }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  </div>
</div>
