<div class="content-card">

    <div class="col centered-title" *ngIf="loading">
        <h1>Alterar senha</h1>
        <div class="row justify-content-center">
            <div class="loader"></div>
        </div>
    </div>

    <div class="container-fluid" *ngIf="!loading">
        <div class="row">
          <div class="col centered-title">
            <h1>Alterar senha</h1>
          </div>
        </div>
        <hr>

        <form>
          <div class="form-group">
            <label for="password">Senha atual</label>
            <input type="password" class="form-control" id="password" name="password" aria-describedby="password" placeholder="Digite sua senha atual" [(ngModel)]="user.password">
            <small id="password" class="form-text text-muted">Para atualizar sua senha digite a senha atual.</small>
          </div>
          <div class="form-group">
            <label for="new-password">Nova senha</label>
            <input type="password" class="form-control" id="new-password" name="new-password" placeholder="Password" [(ngModel)]="newPassword">
          </div>
          <div class="form-group">
            <label for="confirm-new-password">Confirmar nova senha</label>
          <input type="password" class="form-control" id="confirm-new-password" name="confirm-new-password" placeholder="Password" [(ngModel)]="confirmNewPassword" >
          </div>

          <button type="submit" class="btn btn-primary" (click)="edit()" >Atualizar senha</button>
        </form>

    </div>
  </div>
