@import '../../../styles';

#recoveryPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #DDD;
    background-position: 0px 0px, 70% 60%;
    position: absolute;
    z-index: 1030;
    top: 0;
    left: 0;
    height: 100%;
    width:  100%;
    overflow: hidden;
    @include xs{
        background-color: $color-primary;
    }

    @include lg{
        background-image: url("../../../assets/images/background-login.jpg");
        background-size: 100%;
        background-position: center;
    }
    
    @include xl{
        background-image: url("../../../assets/images/background-login.jpg");
        background-size: 100%;
        background-position: center;
    }
}

.box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;   
    flex-direction: column;
    width: 42%;
    @include xs{
        width: 100%;
        height: 100%;
    }
    @include sm{
        width: 100%;
        height: 100%;
    }
    @include md{
        width: 60%;
        margin-bottom: 20%;
    }
    @include xl{
        width: 28%;
        height: 60%;
    }
}

.img-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 24%;
    .w{
        width: 82px;
        height: auto;
    }
    .h{
        width: 260px;
        height: auto;
    }
}

.box {
    width: 100%;
    padding: 30px 60px;
    h2{
        text-align: center;
        color: $color-danger;
        font-size: 24px;
    }
    .icon-input input {
        margin-bottom: 2%;
    }
    @include xs {
        width: 100%;
        height: 100%;
        padding: 30px 30px;
        border-radius: 0;
        background-color: $color-primary;
        box-shadow: 0 0 32px -8px inset;
    }
    @include md{
        padding: 50px 60px 80px;
    }
    @include lg{
        padding: 70px 80px;
    }
    @include xl{
        padding: 39px 40px 10px;
    }
}

.logo {
    width: 80%;
    margin: 0 auto;    
    padding: 20px;
    padding-bottom: 10%;
    @include xl{
        width: 100%;
    }
}

.forgot-password{
    font-size: 14px;
    padding-top: 13px;
    padding-bottom: 20px;
    text-align: center;
    color: $color-light;
    a{
        font-weight: bold;
        color: #59af91;
        
    }
    
    
}

.btn-full{
    box-shadow: 1px 1px 3px 0 #384247;
    background-color: #42b39c;
    color: $color-light;
    &:hover{
        background-color: #24c1a6;
        border-color: transparent;
        transition: all .2s ease;
        box-shadow: 0 0 32px -8px;
    }
}