<section></section>
<div class="nav-margin hidden-md-up"></div>
<div class="overlay" id="overlay" (click)="toggleMenu()"></div>

<!-- Mobile -->
<nav class="navbar fixed-top hidden-md-up">

    <button class="navbar-toggler navbar-toggler-left" (click)="toggleMenu()" type="button">
        <i class="fa fa-bars"></i>
    </button>
    <div class="navbar-brand">
        <img class="w" src="../../../assets/images/logo.png" alt="">
        <img class="h" src="../../../assets/images/logo_name.png" alt="">
    </div>

    <div class="sidemenu" id="sidemenu">

        <div class="nav-btn borderless">
            <i class="fa fa-user"></i>
            <label>{{ loggedUser ? loggedUser.name : "" }}</label>
        </div>

        <div (click)="toggleMenu()" class="nav-btn borderless-b" [routerLink]="['/home']" routerLinkActive="focused"
            *ngIf="homeAccess == true">
            <i class="fa fa-home"></i> <label>Home</label>
        </div>

        <div (click)="toggleMenu()" class="nav-btn borderless-b" [routerLink]="['/dashboard']" routerLinkActive="focused" 
            *ngIf="dashboardAccess == true">
            <i class="fa fa-line-chart"></i>
            <label>Dashboard</label>
        </div>

        <div (click)="toggleMenu()" class="nav-btn borderless-b" [routerLink]="['/courses/my']" routerLinkActive="focused" 
            *ngIf='myCoursesAccess == true'>
            <i class="fas fa-laptop-code"></i>
            <label>Meus cursos</label>
        </div>

        <div (click)="toggleMenu()" class="nav-btn borderless-b" [routerLink]="['/conquests']" routerLinkActive="focused"
            *ngIf="conquestsAccess == true">
            <i class="fa fa-trophy"></i>
            <label>Conquistas</label>
        </div>

        <div (click)="toggleMenu()" class="nav-btn borderless-b" [routerLink]="['/certificates']" routerLinkActive="focused"
            *ngIf="certificatesAccess == true">
            <i class="fa fa-graduation-cap"></i>
            <label>Certificado</label>
        </div>
        
        <div (click)="toggleMenu()" class="nav-btn borderless-b" [routerLink]="['/questions']" routerLinkActive="focused"
            *ngIf="questionsAccess == true">
            <i class="fa fa-check-circle"></i>
            <label>Questões</label>
        </div>
        
        <div (click)="toggleMenu()" class="nav-btn borderless-b" [routerLink]="['/suggestions']" routerLinkActive="focused"
            *ngIf="suggestionsAccess == true">
            <i class="fa fa-commenting-o"></i>
            <label>Sugestões</label>
        </div>

        <a href="#management-mobile" data-toggle="collapse" class="nav-btn borderless-b"
            *ngIf="departmentsAccess == true || rolesAccess == true || usersAccess == true || categoriesAccess == true">
            <i class="fa fa-cogs"></i>
            <label>Gerenciar
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </label>
        </a>

        <div class="collapse" id="management-mobile">
            <div (click)="toggleMenu()" class="nav-btn sub-item" [routerLink]="['/users']" routerLinkActive="focused"
                *ngIf='userAccess == true'>
                <i class="fa fa-users"></i>
                <label>Usuários</label>
            </div>
            
            <div (click)="toggleMenu()" class="nav-btn sub-item" [routerLink]="['/categories']" routerLinkActive="focused"
                *ngIf='categoriesAccess == true'>
                <i class="fa fa-list"></i>
                <label>Cursos/Categorias</label>
            </div>

            <div (click)="toggleMenu()" class="nav-btn sub-item" [routerLink]="['/departments']" routerLinkActive="focused" 
                *ngIf='departmentsAccess == true'>
                <i class="fa fa-briefcase"></i>
                <label>Departamentos</label>
            </div>

            <div (click)="toggleMenu()" class="nav-btn sub-item" [routerLink]="['/roles']" routerLinkActive="focused"
                *ngIf='rolesAccess == true'>
                <i class="fa fa-address-card-o"></i>
                <label>Cargos</label>
            </div>
            
        </div>

        <div class="nav-btn logout" (click)="logOut()">
            <i class="fa fa-power-off"></i>
            <label>Sair</label>
        </div>
    </div>
</nav>

<!-- Desktop -->
<div id="sidebar">

    <div class="menu-logo">
        <img class="w" src="../../../assets/images/logo.png" alt="">
        <img class="h" src="../../../assets/images/logo_name.png" alt="">
    </div>

    <div class="sidebar-item-wrappers">

        <a href="#sidebar-logout" data-toggle="collapse" aria-expanded="false" class="menu-item menu-item-has-items">
            <div class="icon">
                <i class="fa fa-user"></i>
            </div>
            <label>{{ loggedUser ? loggedUser.name : "" }}
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </label>
        </a>

        <div id="sidebar-logout" class="collapse">
            <div class="menu-item sub-item" (click)="logOut()">
                <div class="icon">
                    <i class="fa fa-power-off"></i>
                </div>
                <label>Sair</label>
            </div>
        </div>

        <div class="menu-item item-border" [routerLink]="['/home']" routerLinkActive="focused" 
            [ngClass]="{'focused': selectedPage == 'Home'}">
            <div class="icon">
                <i class="fa fa-home"></i>
            </div>
            <label>Home</label>
        </div>
        <div class="menu-item" [routerLink]="['/dashboard']" routerLinkActive="focused" 
            [ngClass]="{'focused': selectedPage == 'Dashboard'}" *ngIf='dashboardAccess == true'>
            <div class="icon">
                <i class="fa fa-line-chart"></i>
            </div>
            <label>Dashboard</label>
        </div>
        <div class="menu-item" [routerLink]="['/courses/my']" routerLinkActive="focused" 
            [ngClass]="{'focused': selectedPage == 'MeusCursos'}" *ngIf='myCoursesAccess == true'>
            <div class="icon">
                <i class="fas fa-laptop-code"></i>
            </div>
            <label>Meus cursos</label>
        </div>
        <div class="menu-item" [routerLink]="['/conquests']" routerLinkActive="focused" 
            [ngClass]="{'focused': selectedPage == 'Conquistas'}" *ngIf='conquestsAccess == true'>
            <div class="icon">
                <i class="fa fa-trophy"></i>
            </div>
            <label>Conquistas</label>
        </div>
        <div class="menu-item" [routerLink]="['/certificates']" routerLinkActive="focused"
            [ngClass]="{'focused': selectedPage == 'Certificados'}" *ngIf='certificatesAccess == true'>
            <div class="icon">
                <i class="fa fa-graduation-cap"></i>
            </div>
            <label>Certificado</label>
        </div>
        <div class="menu-item" [routerLink]="['/questions']" routerLinkActive="focused" 
            [ngClass]="{'focused': selectedPage == 'Questões'}" *ngIf="questionsAccess == true">
            <div class="icon">
                <i class="fa fa-check-circle"></i>
            </div>
            <label>Questões</label>
        </div>
        <div class="menu-item" [routerLink]="['/suggestions']" routerLinkActive="focused" 
            [ngClass]="{'focused': selectedPage == 'Sugestões'}" *ngIf='suggestionsAccess == true'>
            <div class="icon">
                <i class="fa fa-commenting-o"></i>
            </div>
            <label>Sugestões</label>
        </div>
        <a href="#management-full" data-toggle="collapse" class="menu-item menu-item-has-items"
            [ngClass]="{'focused': selectedPage == 'Usuários' || selectedPage == 'Categorias' || selectedPage == 'Departamentos' || selectedPage == 'Cargos' }"
            *ngIf="departmentsAccess == true || rolesAccess == true || userAccess == true || categoriesAccess == true">
            <div class="icon">
                <i class="fa fa-cogs"></i>
            </div>
            <label>Gerenciar
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </label>
        </a>
        <div class="collapse" id="management-full">
            <div class="menu-item sub-item" [routerLink]="['/users']" routerLinkActive="focused" 
                [ngClass]="{'focused': selectedPage == 'Usuários'}" *ngIf='usersAccess == true'>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <label>Usuários</label>
            </div>
            <div class="menu-item sub-item" [routerLink]="['/categories']" routerLinkActive="focused" 
                [ngClass]="{'focused': selectedPage == 'Categorias'}" *ngIf='categoriesAccess == true'>
                <div class="icon">
                    <i class="fa fa-list"></i>
                </div>
                <label>Cursos/Categorias</label>
            </div>
            <div class="menu-item sub-item" [routerLink]="['/departments']" routerLinkActive="focused" 
                [ngClass]="{'focused': selectedPage == 'Departamentos'}" *ngIf='departmentsAccess == true'>
                <div class="icon">
                    <i class="fa fa-briefcase"></i>
                </div>
                <label>Departamentos</label>
            </div>
            <div class="menu-item sub-item" [routerLink]="['/roles']" routerLinkActive="focused" 
                [ngClass]="{'focused': selectedPage == 'Cargos'}" *ngIf='rolesAccess == true'>
                <div class="icon">
                    <i class="fa fa-address-card-o"></i>
                </div>
                <label>Cargos</label>
            </div>
            
        </div>

    </div>

</div>