<section></section>
<div class="nav-margin hidden-md-up"></div>
<div class="overlay" id="overlay" (click)="toggleMenu()"></div>
<nav class="navbar fixed-top hidden-md-up">

  <button class="navbar-toggler navbar-toggler-left" (click)="toggleMenu()" type="button">
    <i class="fa fa-bars"></i>
  </button>
  <div class="navbar-brand">
    <img class="w" src="../../assets/images/logo-w.png" alt="">
    <img class="h" src="../../assets/images/logo-admin-text.png" alt="">
  </div>

  <div class="sidemenu" id="sidemenu">

    <div class="nav-btn borderless">
      <i class="fa fa-user-circle-o"></i>
      <label>Rodrigo</label>
    </div>

    <div (click)="toggleMenu(); choosePage('Home')" class="nav-btn borderless-b" [routerLink]="['/home']" *ngIf="homeAccess == true">
        <i class="fa fa-home"></i>
        <label>Home</label>
    </div>

    <div (click)="toggleMenu(); choosePage('Dashboards')" class="nav-btn borderless-b" [routerLink]="['dashboards/ranking']">
      <i class="fa fa-line-chart"></i>
      <label>Dashboards</label>
    </div>

    <div (click)="toggleMenu(); choosePage('Categorias')" class="nav-btn borderless-b" [routerLink]="['/categories']" *ngIf='categoriesAccess == true'>
      <i class="fa fa-list"></i>
      <label>Categorias</label>
    </div>

    <div (click)="toggleMenu(); choosePage('Conteúdos')" class="nav-btn borderless-b" [routerLink]="['/contents']" *ngIf="contentsAccess == true">
      <i class="fa fa-pencil-square-o"></i>
      <label>Conteúdos</label>
    </div>

    <div (click)="toggleMenu(); choosePage('Quizzes')" class="nav-btn borderless-b" [routerLink]="['/quizzes']" *ngIf="quizzesAccess == true">
      <i class="fa fa-check-circle-o"></i>
      <label>Quizzes</label>
    </div>

    <div class="nav-btn borderless-b" [routerLink]="['/store']" (click)="choosePage('Loja'); toggleMenu();" *ngIf="storeAccess == true">
      <i class="fa fa-ticket"></i>
      <label>Loja</label>
    </div>
    <div class="nav-btn borderless-b" [routerLink]="['/event']" (click)="choosePage('Evento'); toggleMenu();" *ngIf='eventsAccess == true'>
      <i class="fa fa-calendar"></i>
      <label>Eventos</label>
    </div>
    <a href="#management-mobile2" data-toggle="collapse" class="nav-btn borderless-b" (click)="choosePage('Sugestões'); toggleMenu(); suggestionPage()" *ngIf='suggestionAccess== true'>
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
      <label>Sugestões
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </label>
    </a>
    <div class="collapse" id="management-mobile2">
      <div class="nav-btn sub-item" [routerLink]="['sectorSuggestion']" (click)="choosePage('SetorSugestões');toggleMenu()" *ngIf='suggestionAccess == true'>
          <i class="fa fa-commenting-o"></i>
        <label>Categorias</label>
      </div>
    </div>

    <a href="#management-mobile" data-toggle="collapse" class="nav-btn borderless-b" *ngIf="departmentsAccess == true || rolesAccess == true || tagAccess== true || userAccess == true">
      <i class="fa fa-cogs"></i>
      <label>Gerenciar
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </label>
    </a>

    <div class="collapse" id="management-mobile">
      <div (click)="toggleMenu(); choosePage('Usuários')" class="nav-btn sub-item" [routerLink]="['/users']" *ngIf='userAccess == true'>
        <i class="fa fa-users"></i>
        <label>Usuários</label>
      </div>

      <div (click)="toggleMenu(); choosePage('Departamentos')" class="nav-btn sub-item" [routerLink]="['/departments']" *ngIf='departmentsAccess == true'>
        <i class="fa fa-briefcase"></i>
        <label>Departamentos</label>
      </div>

      <div (click)="toggleMenu(); choosePage('Cargos')" class="nav-btn sub-item" [routerLink]="['/roles']" *ngIf='rolesAccess == true'>
        <i class="fa fa-address-card-o"></i>
        <label>Cargos</label>
      </div>

      <div (click)="toggleMenu(); choosePage('Tags')" class="nav-btn sub-item" [routerLink]="['/tags']" *ngIf='tagAccess== true'>
        <i class="fa fa-tags"></i>
        <label>Tags</label>
      </div>

      <div (click)="toggleMenu(); choosePage('Permissões')" class="nav-btn sub-item" [routerLink]="['/permissions']" *ngIf='isAdministrator == true'>
        <i class="fa fa-key"></i>
        <label>Permissões</label>
      </div>
    </div>

    <div class="nav-btn logout" (click)="logOut()">
      <i class="fa fa-power-off"></i>
      <label>Sair</label>
    </div>
  </div>
</nav>

<div id="sidebar">

  <div class="menu-logo">
    <img class="w" src="../../assets/images/logo-w.png" alt="">
    <img class="h" src="../../assets/images/logo-admin-text.png" alt="">
  </div>

  <div class="sidebar-item-wrappers">

    <a href="#sidebar-logout" data-toggle="collapse" aria-expanded="false" class="menu-item menu-item-has-items">
      <div class="icon">
        <i class="fa fa-user-circle-o"></i>
      </div>
      <label>{{ loggedUser ? loggedUser.name : "" }}
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </label>
    </a>

    <div id="sidebar-logout" class="collapse">
      <div class="menu-item sub-item" (click)="logOut()">
        <div class="icon">
          <i class="fa fa-power-off"></i>
        </div>
        <label>Sair</label>
      </div>
    </div>

    <div class="menu-item item-border" [routerLink]="['/home']" (click)="choosePage('Home')" [ngClass]="{'focused': selectedPage == 'Home'}">
        <div class="icon">
          <i class="fa fa-home"></i>
        </div>
        <label>Home</label>
    </div>
    <div class="menu-item" [routerLink]="['dashboards/ranking']" (click)="choosePage('Ranking')" [ngClass]="{'focused': selectedPage == 'Ranking'}">
      <div class="icon">
        <i class="fa fa-line-chart"></i>
      </div>
      <label>Dashboards</label>
    </div>
    <div class="menu-item" [routerLink]="['/categories']" (click)="choosePage('Categorias')" [ngClass]="{'focused': selectedPage == 'Categorias'}"
    *ngIf='categoriesAccess == true'>
      <div class="icon">
        <i class="fa fa-list"></i>
      </div>
      <label>Categorias</label>
    </div>
    <div class="menu-item" [routerLink]="['/contents']" (click)="choosePage('Conteúdos')" [ngClass]="{'focused': selectedPage == 'Conteúdos'}"
    *ngIf="contentsAccess == true">
      <div class="icon">
        <i class="fa fa-pencil-square-o"></i>
      </div>
      <label>Conteúdos</label>
    </div>
    <div class="menu-item" [routerLink]="['/quizzes']" (click)="choosePage('Quizzes')" [ngClass]="{'focused': selectedPage == 'Quizzes'}"
    *ngIf="quizzesAccess == true">
      <div class="icon">
        <i class="fa fa-check-circle-o"></i>
      </div>
      <label>Quizzes</label>
    </div>
    <div class="menu-item" [routerLink]="['/event']" (click)="choosePage('Evento')" [ngClass]="{'focused': selectedPage == 'Evento'}"
      *ngIf='eventsAccess == true'>
      <div class="icon">
        <i class="fa fa-calendar"></i>
      </div>
      <label>Eventos</label>
    </div>
    <a href="#management-half" data-toggle="collapse" class="menu-item menu-item-has-items" [ngClass]="{'focused': selectedPage == 'Setores', 'focused': selectedPage == 'Sugestões'}"
      (click)='suggestionPage()' (click)="choosePage('Sugestões')" *ngIf='suggestionAccess== true'>
      <div class="icon">
        <i class="fa fa-commenting-o" aria-hidden="true"></i>
      </div>
      <label>Sugestões
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </label>
    </a>
    <div class="collapse" id="management-half">
      <div class="menu-item sub-item" [routerLink]="['sectorSuggestion']" (click)="choosePage('SetorSugestões')"
        [ngClass]="{'focused': selectedPage == 'SetorSugestões'}" *ngIf='suggestionAccess == true'>
        <div class="icon">
          <i class="fa fa-commenting-o"></i>
        </div>
        <label>Categorias</label>
      </div>
    </div>
    <a href="#management-full" data-toggle="collapse" class="menu-item menu-item-has-items" [ngClass]="{'focused': selectedPage == 'Usuários' || selectedPage == 'Departamentos' || selectedPage == 'Cargos' || selectedPage == 'Tags' }" *ngIf="departmentsAccess == true || rolesAccess == true || tagAccess== true || userAccess == true">
      <div class="icon">
        <i class="fa fa-cogs"></i>
      </div>
      <label>Gerenciar
        <i class="fa fa-caret-down" aria-hidden="true"></i>
      </label>
    </a>
    <div class="collapse" id="management-full">
      <div class="menu-item sub-item" [routerLink]="['/users']" (click)="choosePage('Usuários')" [ngClass]="{'focused': selectedPage == 'Usuários'}"
      *ngIf='userAccess == true'>
        <div class="icon">
          <i class="fa fa-users"></i>
        </div>
        <label>Usuários</label>
      </div>
      <div class="menu-item sub-item" [routerLink]="['departments']" (click)="choosePage('Departamentos')" [ngClass]="{'focused': selectedPage == 'Departamentos'}"
      *ngIf='departmentsAccess == true'>
        <div class="icon">
          <i class="fa fa-briefcase"></i>
        </div>
        <label>Departamentos</label>
      </div>
      <div class="menu-item sub-item" [routerLink]="['roles']" (click)="choosePage('Cargos')" [ngClass]="{'focused': selectedPage == 'Cargos'}"
      *ngIf='rolesAccess == true'>
        <div class="icon">
          <i class="fa fa-address-card-o"></i>
        </div>
        <label>Cargos</label>
      </div>

      <div class="menu-item sub-item" [routerLink]="['tags']" (click)="choosePage('Tags')" [ngClass]="{'focused': selectedPage == 'Tags'}"
      *ngIf='tagAccess== true'>
        <div class="icon">
          <i class="fa fa-tags"></i>
        </div>
        <label>Tags</label>
      </div>

      <div class="menu-item sub-item" [routerLink]="['permissions']" (click)="choosePage('Permissões')" [ngClass]="{'focused': selectedPage == 'Permissões'}"
      *ngIf='isAdministrator == true'>
        <div class="icon">
          <i class="fa fa-key"></i>
        </div>
        <label>Permissões</label>
      </div>
    </div>

  </div>

</div>
