<div class="content-card">

    <div class="col centered-title" *ngIf="loading">
        <h1>Dashboard</h1>
        <div class="row justify-content-center">
            <div class="loader"></div>
        </div>
    </div>

    <div class="container-fluid" *ngIf="!loading">
        <div class="row">
            <div class="col centered-title">
                <h1>Dashboard</h1>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="dashboard-block bg-success">
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="col-sm-8">
                                    <span class="dashboard-number">{{ dash?.users }}</span>
                                    <span class="dashboard-text">
                                        Usuários
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="dashboard-block bg-warning">
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <i class="fas fa-laptop-code"></i>
                                </div>
                                <div class="col-sm-8">
                                    <span class="dashboard-number">{{ dash?.courses }}</span>
                                    <span class="dashboard-text">
                                        Cursos
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="dashboard-block bg-danger">
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <i class="fa fa-check-circle"></i>
                                </div>
                                <div class="col-sm-8">
                                    <span class="dashboard-number">{{ dash?.quizzes }}</span>
                                    <span class="dashboard-text">
                                        Quizzes
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-3">
                        <div class="dashboard-block bg-primary">
                            <div class="row">
                                <div class="col-sm-4 text-center">
                                    <i class="fa fa-list"></i>
                                </div>
                                <div class="col-sm-8">
                                    <span class="dashboard-number">{{ dash.categories }}</span>
                                    <span class="dashboard-text">
                                        Categorias
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-5">
                <h2>
                    Cursos
                </h2>
                <table class="table table-stripped">
                    <thead>
                        <tr>
                            <th>Curso</th>
                            <th>Categoria</th>
                            <th>Unidades</th>
                            <th class="info"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let course of dash.allCourses; let i = index">
                            <td>{{ course.name }}</td>
                            <td>{{ course.category.name }}</td>
                            <td>{{ course.units.length }}</td>
                            <td class="info"><i class="fa fa-info-circle" data-toggle="modal"
                                [attr.data-target]="'#course-' + i"></i></td>
                            <!-- Modal -->
                            <div class="modal fade modal-evaluate" id="course-{{ i }}" tabindex="-1" role="dialog"
                                [attr.aria-labelledby]="'course-title-' + i" aria-hidden="true">
                                <div class="modal-dialog modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="course-title-{{ i }}">Avaliação do curso</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                aria-label="Fechar">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="note text-center">
                                                <span>{{ course.evaluate }}</span>
                                            </div>
                                            <span><i class="fa fa-users"></i> Total: {{ course.evaluates.length }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>