<div class="courseCard">
  <div class="courseCard__thumb">
    <img class="courseCard__thumb__img" src="https://images.pexels.com/photos/326055/pexels-photo-326055.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Imagem de capa do card">
  </div>
  <div class="courseCard__body">
    <h5 class="courseCard__body__title line-clamp">{{ course.name }}</h5>
    <p class="courseCard__text">{{course.instructor}}</p>
    <a href="#" class="btn btn-block btn-wcapp" [routerLink]="[course._id]">Visualizar</a>
  </div>
</div>