<div class="content-card">
    
  <div class="col centered-title" *ngIf="loading">
      <h1>Detalhes do curso</h1>
      <div class="row justify-content-center">
          <div class="loader"></div>
      </div>
  </div>

  <div class="container-fluid" *ngIf="!loading">
      <div class="row">
          <div class="col centered-title">
              <h1>Detalhes do curso</h1>
          </div>
      </div>
      <hr>    

      <div class="row">
          <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="course-image">
                        <img src="../../../../assets/images/logo.png" alt="curso teste">
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="course-description">
                        <h2>{{ course.name }}</h2>
                        <span>{{ course.description }}</span>
                        <!-- <div class="row">
                            <div class="col-6">
                                <div class="course-rating">
                                    <span class="fa fa-star checked"></span>       
                                    <span class="fa fa-star checked"></span>       
                                    <span class="fa fa-star checked"></span>       
                                    <span class="fa fa-star"></span>       
                                    <span class="fa fa-star"></span>       
                                </div>
                            </div>
                            <div class="col-6">
                                <span>13.178 empregados inscritos</span>
                            </div>
                        </div> -->
                        <h5>Instrutor: {{ course.instructor }}</h5>
                        <div class="text-right">
                            <button class="btn btn-success" (click)="enroll()">Inscrever</button>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
