@import "../node_modules/bootstrap/scss/bootstrap.scss";
//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import './assets/scss/variables';
@import './assets/scss/mixins';
@import './assets/scss/mediaqueries';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&subset=latin-ext');

// general styles

.cursor-pointer {
    cursor: pointer;
}

body, h5, h6{
    font-family: 'Roboto', sans-serif;
}

h3, h4, h2{
    font-family: 'Montserrat', sans-serif;
    color: $color-secondary
}

h1{
    font-family: 'Montserrat', sans-serif;
    color: $color-secondary;
    // font-weight: bold;
    @include xs{
        text-align: center;
    }
    @include sm{
        text-align: center;
    }
    
} 

select{
    background: #fff;
    color: #464646;
    height: 24px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 5px 1px;
    transition: .15s;
    &:focus{
        box-shadow: inset 0 0px 1px rgba(255, 255, 255, 0.075), 0 0 6px #845586;
        outline: #512e53;
        border: 1px solid #fff;
    }
    option{
        &:hover{
            background: red;
        }
    }
}

.not-selectable{
    user-select: none;
}

// Form Validation
form {
    div{
    .form-control{
            
        .ng-valid {
            border-color: rgba(0, 0, 0, 0.15); 
        }
        
        &.ng-invalid:not(:focus).ng-dirty.ng-touched, &:invalid:not(:focus).ng-dirty.ng-touched, .invalid:not(:focus).ng-dirty.ng-touched{
            border-color: $color-red;
        }
            
        &.ng-invalid.ng-touched, &:invalid:not(:focus).ng-touched, .invalid.ng-touched {
            & ~ .requirements {
                display: block;
                opacity: 1;
            }
        }    
    }
    }
          
    label.requirements {
        position: absolute;
        display: none;
        right: 2rem;
        top: 0.5rem;
        opacity: 0;
        transition: 0.28s;
        color: $color-red;
    }
        
}
.form-radio-input{
    display: flex;
    align-items: center;
    white-space: nowrap;
    span{
        margin: 0 12px 0 6px;
    }
    .radio{
        display: inline-block;
    }
}
// ---

// Button
.btn{
    cursor: pointer;
}
.btn-wcapp{
    background-color: $color-secondary;
    border-color: $color-secondary;
    color: $color-light;
    &:focus{
        box-shadow: 0 0 0 3px rgba(129, 49, 198, 0.50)
    }
    &:hover{
        background-color: $color-primary;
        transition: all .2s ease;    
    }
}
.new-btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn-round{
    border-radius: 500px;
}
.btn-full{
    display: block;
    width: 100%;
}
.btn-link{
    border: none;
}
// ---

// Input
.icon-input{
    position: relative;
    span{
        position: absolute;
        line-height: 38px;
        text-align: center;
        font-size: 18px;
        opacity: 0.6;
        vertical-align: middle;
        padding-left: 15px;
        z-index: 1;
    }
    input{
        padding-left: 42px;
    }
}
.form-control:focus{
    box-shadow: inset 0 0px 1px rgba(255, 255, 255, 0.075), 0 0 6px rgb(132, 85, 134);
    outline: $color-primary;
    border: 1px solid #fff
}
.mg-top-bot-12{
    margin: 12px 0;
}
.mg-b-10{
    margin-bottom: 10px;
}
// ---

// Cards
.content-card{
    font-size: 16px;
    color: $text-color; 
    background: $color-light;
    padding: 2rem 2rem 4rem 2rem ;
    margin: 2rem 3rem 2rem 8rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
    @include xs{
        padding: 1rem 1rem 1rem 1rem;
        margin: 1.5rem;
        .text-form-input{
            text-align: center;
        }
    }
    @include sm{
        padding: 1rem 1rem 1rem 1rem;
        margin: 1.5rem;
        .text-form-input{
            text-align: center;
        }
    }
    @include md{
        padding: 1rem 2rem 2rem 2rem;
        margin: 2rem 2rem 2rem 7rem;
    }
}

.card-full-width{
    @extend .content-card;
    width: 100%;
}

.graph-card{
    position: relative;
    padding: 1rem;
    margin: 1rem 0;
    &-20{
        min-height: 20rem;
    }
}

.data-card{
    padding: 1rem 0;
    margin: 1rem 0;
    height: 9rem;
    min-height: 9rem;
}

.text-form-input{
    text-align: right;
    label{
        margin: 0;
        line-height: 38px;
    }
}
.input-margin{
    margin: 7px 0;
}
// ---

// ToolTip
.tooltipText {
    text-align: left;
    margin: 0.3rem;
    font-size: 10px
 }
 // ---

//  Icons
.category-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    .icon{
        cursor: pointer;
        margin: 0.3rem;
        width: 6rem;
        height: 6rem;
        border-radius: 500px;
        border: 3px solid transparent;
        transition: all .4s ease-out;
        &:hover{
            border: 3px solid $color-danger;
            transition: all .4s ease;
        }
        &:active{
            border: 3px solid $color-danger;
            @include shadow-full($color-dark);
            transition: .15s;
        }
    }
}
.icon-selected{
    margin: 0.3rem;
    width: 6rem;
    height: 6rem;
    border-radius: 500px;
    border: 3px solid $color-danger;
    @include shadow-full($color-dark);
    transition: .1s;
}
// ---

// Radio
.radio{
    label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.55);
    border-radius: 50px;
    vertical-align: middle;
    margin: 0;
    transition: .15s;
      &:hover {
        border:1px solid rgba(0, 0, 0, 0.5);
      }
    }
    input[type=radio] {
      display: none;
      &:checked + label{
        border: 1px solid $color-danger;
        background-color: $color-danger;
      }
    }
  }
// ---

// Checkbox
.checkbox{
    position: relative;
    display: inline-block;
    max-height: 26px;
    label {
        display: inline-block;
        margin: 0;
        width: 26px;
        height: 26px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition-duration: 0.15s;
        cursor: default;
        text-align: center;
        &:hover {
            box-shadow: inset 0 0px 1px rgba(255, 255, 255, 0.075), 0 0 6px rgb(132, 85, 134);
            outline: $color-primary;
        }
    }
    input {
        display: none;
        &:checked + label:after{
            position: absolute;
            font-family: "FontAwesome";
            content: '\f00c';
            font-size: 28px;
            font-weight: normal;
            line-height: 28px;
            top: -4px;
            left: 5px;
            color: $text-color;
        }
        &:checked + label{
            border-color: $text-color;
        }
    }
  }
// ---

// Table
table{
    th{
        vertical-align: middle !important; 
        border-bottom: none !important;
    }
    td{
        vertical-align: middle !important; 
        .checkbox{
            vertical-align: middle;
        }
        .btn-wcapp{
            margin: 0;
        }
    }
    @include md{
        display: block;
        max-width: 100%;
        overflow-x: auto;
    }
    @include sm{
        display: block;
        max-width: 100%;
        overflow-x: auto;
    }
    @include xs{
        display: block;
        max-width: 100%;
        overflow-x: auto;
    }
}
// ---

// Date
.ngx-datepicker-input{
    border: 1px solid #bfbfbf !important;
    padding: 8px 10px !important;
    width: 100% !important;
}
.ngx-datepicker-calendar-container{
    z-index: 1 !important;
}
// ---

// Modal
.modal {
    &-backdrop {
        opacity: .9 !important;
    }
}

// ---

// Mensagem
.message-box {
    margin-top: 15px;
    margin-bottom: 1rem;
    font: 1.5rem 'Montserrat';
    text-transform: uppercase;
    color: #777;
    background-color: #eee;
    border: 1px solid #bbb;
    padding: 40px;
    border-radius: 7px;
    text-align: center;
    margin-top: 30px;
    width: 100%;
}

// ---

// Loader
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}  

.loader {
    width: 130px;
    height: 130px;
    border: 16px solid rgba(0, 0, 0, 0.1); /* Light grey */
    border-top: 16px solid $color-danger; /* Blue */
    border-radius: 50%;
    animation: spin .8s linear infinite;    
}

.root-loader{
    background: $color-primary;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: -1;
    transition: .4s all;
    .root-loading {
        position: relative;
        width: 160px;
        height: 160px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .4s all;
        img{
            width: 115px;
            margin-top: 21px;
        }
        .algo{
            position: absolute;
            border-top: 16px solid #4fd6bb;
            border-radius: 50%;
            border-right: 16px solid transparent;
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }
    }
}
app-root:empty + .root-loader{
    opacity: 1;
    z-index: 9999;
}
// ---

// Tag-input
.switch {
    vertical-align: middle !important;
}

.ng2-tag-input {
    border: 1px solid #bfbfbf !important;
    height: 38px;
    max-width: 100%;
    padding: 7px 12px !important;
}

.tag__text {
    line-height: 2;
    font-size: 11px;
    padding-left: 6px;
}

delete-icon svg {
    height: 10px !important;
    line-height: 1;
    vertical-align: top !important;
    margin-top: 7px;
    font-weight: 900;
    color: #fff !important;
}

.ng2-tags-container tag {
    padding: 0 5px !important;
    height: 22px !important;
    border-radius: 60px !important;
    background-color: #00bbd9 !important;
    color: #fff !important;
}

delete-icon:hover {
    transform: none !important;
}

.ng2-tag-input__text-input {
    height: auto !important;
}

.bootstrap tag {
    background: #00bbd9 !important;
}
// --

// Responsive

    .hidden-xs-down{
        @media (min-width:#{1px}) and (max-width:#{$xs-width - 1}){       
            display: none
        }
    }
    .hidden-xs-up{
        @media (min-width:#{$xs-width}) and (max-width: #{20000px}){ 
            display: none
        }
    }
    .hidden-sm-down{
        @media (min-width:#{1px}) and (max-width:#{$sm-width - 1}){       
            display: none
        }
    }
    .hidden-sm-up{
        @media (min-width:#{$sm-width}) and (max-width: #{20000px}){ 
            display: none
        }
    }
    .hidden-md-down{
        @media (min-width:#{1px}) and (max-width:#{$md-width - 1}){       
            display: none
        }
    }
    .hidden-md-up{
        @media (min-width:#{$md-width}) and (max-width: #{20000px}){ 
            display: none
        }
    }
    .hidden-lg-down{
        @media (min-width:#{1px}) and (max-width:#{$lg-width - 1}){       
            display: none
        }
    }
    .hidden-lg-up{
        @media (min-width:#{$lg-width}) and (max-width: #{20000px}){ 
            display: none
        }
    }
    .hidden-xl-down{
        @media (min-width:#{1px}) and (max-width:#{$xl-width - 1}){       
            display: none
        }
    }
    .hidden-xl-up{
        @media (min-width:#{$xl-width}) and (max-width: #{20000px}){ 
            display: none
        }
    }

    .centered-title{
        @include xs{
            display: flex;
            justify-content: space-around;
            align-items: center;
            h1{
                margin: 0;
                font-size: 1.8rem;
            }
            .btn-wcapp{
                margin: 0;
            }
        }
        @include sm{
            display: flex;
            justify-content: space-around;
            align-items: center;
            h1, .btn-wcapp{
                margin: 0
            }
        }
    }

.popover{
    min-width: 345px;
    max-width: 1000%;
    width: 345px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px 0px 0px 1px;
    .popover-title{
        padding: 0.5rem 0.75rem;
        font-size: 17px;
        text-align: center;
        background-color: #f7f7f7;
        border-bottom: 1px solid #ebebeb;
        border-radius: 0.5rem 0.5rem 0 0;
    }

    .arrow{
        left: 45%;
        &:before{
            content: "";
            top: -1.65rem;
            border-bottom-color: rgba(0, 0, 0, 0.25);
        }
        &:after{
            content: "";
            top: calc((1.6rem -1px) * -1);
            border-bottom-color: #f7f7f7;
        }
    } 
}
popover-content.stats{
    .popover{
        width: 600px;
        left: 0 !important;
        .arrow{
            left: 7%;
        }
        @include sm{
            width: 100%;
        }
        @include xs{
            width: 100%;
        }
    }
}

popover-content.missions{
    .popover{
        left: 915px !important;
        .arrow{
            left:77%;
        }
        @include sm{
            width: 100%;
        }
        @include xs{
            width: 100%;
        }
    }
}

ng2-auto-complete ul {
    max-height: 150px; overflow-y: auto;
  }
// ---

// Dashboard styles

.dashboard-page{
    margin: 0 2rem 2rem 7rem;
    @include xs{
        margin: 0 6px;
    }
    @include sm{
        margin: 0 10px;
    }
    @include md{
        margin: 0 1rem 2rem 6rem;
    }
}

h1.dashboard-page-title{
    margin: 1.5rem 0;
    @include xs{
        color: $color-light;
        margin: 0.5rem 0;
    }
    @include sm{
        color: $color-light;
        margin: 0.5rem 0;
    }
}
// ---

// Filter
.filter{
    &-row{
        margin: 1rem 0 1.5rem;
    }
    &-checkbox{
        margin: 0 12px;
    }
}
// ---

// Pagination
.pagination /deep/ .ngx-pagination {
    padding: 0;
    margin: 1rem 0;
    .current {
        background: $color-primary;
        transition: .15s;
    }
    a:hover, button:hover{
        background: rgba(72, 20, 77, 0.2);
        transition: .15s;
    }
}
// ---

